#desc{
	font-size: 40px;
	background-color: yellow;
	color:red;
}

body{
	background-color:aqua;
	
	font-size: 14;
	font-weight: bold;
	font-family: serif;
}
#rec{
 font-size: 50px;
 font-style: italic;
}