body{
    background-color:darkturquoise;
    color:#000;
    font: normal 16px  Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
h2 { color: darkred; }

.my-list li:first-child{
    background: chartreuse;
}
.my-list li:nth-child(even){
    background: coral;
}
.my-list li:nth-child(3){
    background: chartreuse;
}
.p-box{
    border: 3px solid dimgray;
    border-radius: 12px;
}
hr{
    background: navy;
    height: 3px;
}
.movie a:hover{
    background: yellow;
}

p::first-letter{
    font-size: 20px;
    weight: bold;
}
strong{
    color: yellow;
}
.movie a{
    text-decoration: none;
    color: red;
}


